                <nav class="posts-nav">
                  <h2>More thoughts</h2>
                  <ul>
                    {% for article in nav %}
                      <li><a href="{{ article.url }}">{{ article.title }}</a> ({{ article.date | date('d M Y') }})</li>
                    {% endfor %}
                  </ul>
                  <script>
                  (function () {
                    var current = document.querySelector('.posts-nav [href*="' + location.pathname + '"]'),
                        span = document.createElement('span');
                    span.innerHTML = current.innerHTML;
                    current.parentNode.insertBefore(span, current);
                    current.parentNode.removeChild(current)
                  })();
                </script>
                </nav>