                <nav class="posts-nav">
                  <h2>More thoughts</h2>
                  <ul>
                    {% for post in site.posts %}
                      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                  <script>
                  (function () {
                    var current = document.querySelector('.posts-nav [href*="' + location.pathname + '"]'),
                        span = document.createElement('span');
                    span.innerHTML = current.innerHTML;
                    current.parentNode.appendChild(span);
                    current.parentNode.removeChild(current)
                  })();
                </script>
                </nav>