@import 'colours'

.fake-json .accordion 

  // basic display of closed accordion items
  > li
    display: block

  > li:after
    display: none


.js .fake-json .accordion 

  > li >span:after
    display: inline
    content: ','
    color: default
    opacity: 1
    transition: opacity 0.5s

  > li:last-child >span:after
    display: none

  > .expanded > span:after
    opacity: 0


// content styling
.fake-json .accordion 
  .content
    display: block
    height: auto
    max-height: 0
    overflow: hidden
    box-sizing: border-box
    width: auto
    border-radius: 0.5rem
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.1)
    background: #181818
    padding: 0 1.5rem
    margin: 0 1rem 0 4rem

    p 
      margin: 0

    ul
      padding: 0

    h2:after
      display: none

    li
      display: block
      padding-left: 1.6rem
      text-indent: -1.6rem

    li:before
      content: ' - '
      display: inline
      padding: 0

    li:after
      display: none

    strong
      color: emphasis
      font-weight: normal
    
    strong:before
      content: '\00a0' 
    
    strong:after
      content: '\00a0' 
      
  .content:after
    clear: left

  

// closed and open state of accordion
.js .fake-json .accordion .content
  opacity: 0
  -ms-transition-property: max-height, padding, margin, opacity
  -ms-transition-duration: 0.5s  
  -o-transition-property: max-height, padding, margin, opacity
  -o-transition-duration: 0.5s  
  -webkit-transition-property: max-height, padding, margin, opacity
  -webkit-transition-duration: 0.5s  
  transition-property: max-height, padding, margin, opacity
  transition-duration: 0.5s  

.no-js .fake-json .accordion .content,
.js .fake-json .accordion .expanded .content
  max-height: 50rem
  margin: 1rem 1rem 1rem 4rem
  padding: 1.5rem 1.5rem
  opacity: 1


// layout for content with images loaded
.js .fake-json .accordion 
  .content img
    float: left
    margin-top: -2rem

  .content p,
  .content h2,
  .content ul
    margin-left: 15.5rem
    display: block





