@import 'colours'

html
  font-size: 62.5%
 
body
  background-color: #222
  color: default

.fake-json
  display: block
  max-width: 700px
  margin: 0 auto

  h1
  h2
  dl
  dt
  dd
  ol
  li
  a
  b
    font-family: courier
    font-size: 1.4rem
    font-weight: normal
    padding: 0
    list-style: none
    line-height: 1.3
    text-indent: 0
    display: inline
    margin: 0

  h1
    display: block
    margin-bottom: 2rem
    line-height: 1.2

  h1 span
    display: none

  h1:after
    content: attr(data-large)
    white-space: pre

