@media only screen and (max-width: 720px) {
  .fake-json h1:after {
    content: attr(data-medium);
  }
}
@media only screen and (max-width: 480px) {
  .fake-json h1:after {
    content: attr(data-small);
  }
}
@media only screen and (max-width: 480px) {
  .js .fake-json .accordion .content img {
    display: none;
  }
  .js .fake-json .accordion .content p,
  .js .fake-json .accordion .content h2,
  .js .fake-json .accordion .content ul {
    margin-left: 0;
  }
}
