@media only screen and (max-width: 720px)
  .fake-json h1:after
    content: attr(data-medium)

@media only screen and (max-width: 480px)
  .fake-json h1:after
    content: attr(data-small) 


@media only screen and (max-width: 480px)
  .js .fake-json .accordion 
    .content img
      display: none

    .content p,
    .content h2,
    .content ul
      margin-left: 0