  <script type="text/javascript">//<![CDATA[
  // Google Analytics for WordPress by Yoast v4.06 | http://yoast.com/wordpress/google-analytics/
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount','UA-1105176-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  // End of Google Analytics for WordPress by Yoast v4.0
  //]]></script>
</body>
</html>