---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
<a id="social-link" href="https://twitter.com/intent/tweet?url=http://www.wheresrhys.co.uk{{ page.url | url_encode}}&text={{ page.title | url_encode}}&via=wheresrhys"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>Yaffle</a><br/>
{% if page.title contains "61 Boring Birds:" %}
  <script>
    (async () => {
      const pages = await fetch('/birds.json')
        .then(res => res.json())
      const index = pages
        .findIndex(url => url && window.location.href.indexOf(url) > -1)

      const url = pages[index + 1];

      if (url) {
        const socialLink = document.querySelector('#social-link');
        socialLink.insertAdjacentHTML('afterend', `<br><a href="${url}">🦢 Next boring bird</a>`)
      }
    })()
  </script>
  {% unless page.title contains "Osprey" %}
  <a href="/2020/06/01/osprey.html">🦅 First boring bird</a><br>
  {% endunless %}
  <a href="/61-boring-birds">🦚 All boring birds</a>

{% else %}
  <a href="/writing">📚 More writings</a>
{% endif %}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>


