---
layout: default
title: Wheresrhys
---
<a href="/">Home</a>

      <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
            <article>
                <script>
                  (function () {
                    history.replaceState([], '', '{{ post.url }}');
                  })();
                </script>
                <h1>{{ post.title }}</a></h1>
                <p class="meta">{{ post.date | date_to_string }}</p>

                <div class="content" >
                {{ post.content }}
                </div>
                {% include posts-nav.html %}

            </article>
        {% endfor %}

